:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --subtitle-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-shadow-color: #FF8DCB;
  --decorated-color: #FF8DCB;
  --outline-decorate: #353430;
  --text-color: #353430;
  --button-color: #353430;
  --section-text-color: #353430;
  --main-font-family: "IBM Plex Mono", "monospace";
  --main-font-size: 18px;
  --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --subtitle-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-shadow-color: #FF8DCB;
    --decorated-color: #FF8DCB;
    --outline-decorate: #353430;
    --text-color: #353430;
    --button-color: #353430;
    --section-text-color: #353430;
    --main-font-family: "IBM Plex Mono", "monospace";
    --main-font-size: 18px;
    --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}